{% extends "base.html" %}

{% block title %}Dash -Profile{% endblock %}



{% block page_content %}

<div class="page-header">
    <h1>{{ user.username }}</h1>
    {% if user.profile.name or user.profile.location %}
    <p>
        {% if user.profile.name %}{{ user.profile.name }}{% endif %}
        {% if user.location %}
        From <a href="http://maps.google.com/?q={{ user.location }}">
            {{ user.profile.location }}
        </a>
        {% endif %}
    </p>
    {% endif %}
    {% if current_user.is_admin() %}
    <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
    {% if user.profile.about_me %}
    <p>
        {{ user.profile.about_me }}
    </p>
    {% endif %}
    <p>Member since {{ moment(user.profile.member_since).format('L') }}.
        Last seen {{ moment(user.profile.last_seen).fromNow() }}.
    </p>
    <div>
        <img src="{{ url_for('auth.media')}}" alt="" srcset="">
    </div>
</div>

{% endblock %}